<%= form_with(model: bill, url: model_url, local: true) do |form| %>

  <div class="form-group">
    <%= label :bill_type, t('bill.field.type') %>
    <div class="row d-flex justify-content-around">
      <div class="form-check form-check-inline">
        <%= form.radio_button :bill_type, Bill.bill_types[:deposit], class: 'form-check-input' %>
        <%= form.label :bill_type, t('bill.types.deposit'), value: Bill.bill_types[:deposit], class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :bill_type, Bill.bill_types[:credit], class: 'form-check-input' %>
        <%= form.label :bill_type, t('bill.types.credit'), value: Bill.bill_types[:credit], class: 'form-check-label' %>
      </div>
    </div>
    <% if bill.errors[:bill_type].any? %>
      <span class="invalid-feedback">
        <strong><%= bill.errors.messages[:bill_type][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit t('action.order'), class: 'btn btn-success mb-3' %>
  </div>
<% end %>
