<div class="actions">
  <% if @notification.active? %>
    <% if @notification.message == t('bill_request.employee_create_bill') %>
      <%= link_to t('notifications.action.activate_bill'), admin_notification_activate_bill_path(@notification),
                  class: 'btn btn-success mb-3 mr-2', method: :post, data: { confirm: t('notifications.action.activated') } %>
    <% end %>
    <%= link_to t('notifications.action.change_admin'), edit_admin_notification_path(@notification),
                class: 'btn btn-outline-success mb-3 mr-2' %>
    <%= link_to t('notifications.action.change_status'), admin_notification_close_path(@notification),
                class: 'btn btn-outline-primary mb-3 mr-2', method: :post, data: { confirm: t('notifications.action.changed') } %>
  <% end %>
</div>

<div class="card shadow">
  <div class="card-header">
    <strong>
      <%= t('breadcrumbs.notification.index') %>
      <%= t('breadcrumbs.notification.show', notification: @notification.id) %>
      <%= render(partial: 'partials/notifications/status', locals: { notification: @notification }) %>
    </strong>
  </div>
  <div class="card-body">
    <p class="message">
      <strong><%= t('notifications.field.message') %>:</strong>
      <span><%= @notification.message %></span>
    </p>
    <p class="user">
      <strong><%= t('notifications.field.user') %>:</strong>
      <a href="<%= admin_user_path(@notification.bill.user) %>">
        <%= @notification.bill.user.full_name_aliases %>
      </a>
    </p>
    <p class="bill">
      <strong><%= t('notifications.field.bill') %>:</strong>
      <a class="noselect" href="<%= admin_user_bill_path(@notification.bill.user, @notification.bill) %>">
        <%= card_number_format(@notification.bill.card_number) %>
      </a>
    </p>
  </div>
</div>