
<div class="buttons row">
  <%= link_to t('bill.actions.edit_bill'), edit_admin_user_bill_path(@user, @bill), class: 'btn btn-primary mb-3 mr-2' %>
</div>
<div class="row">
  <div class="col-md-5 mb-3">
    <%= render(partial: 'partials/bills/bill_info', locals: { bill: @bill }) %>
  </div>
  <div class="col-md-7">
    <div class="card shadow">
      <div class="card-header">
        <strong><%= t('bill.field.card_new_transaction') %></strong>
        <%= link_to t('bill.all_transactions'), admin_user_bill_transactions_path(@user, @bill), class: 'btn btn-sm btn-outline-secondary float-right' %>
      </div>
      <%= render(partial: 'partials/transactions/list', locals: { transactions: @transactions,
                                                                  user: pundit_user }) %>
    </div>
  </div>
</div>