<%= form_with(model: bill, url: model_url, local: true) do |form| %>

  <div class="form-group">
    <%= label :bill_type, 'Type' %>
    <div class="row d-flex justify-content-around">
      <div class="form-check form-check-inline">
        <%= form.radio_button :bill_type, Bill::DEPOSIT_TYPE, class: 'form-check-input' %>
        <%= form.label :bill_type, 'Deposit', value: Bill::DEPOSIT_TYPE, class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :bill_type, Bill::CREDIT_TYPE, class: 'form-check-input' %>
        <%= form.label :bill_type, 'Credit', value: Bill::CREDIT_TYPE, class: 'form-check-label' %>
      </div>
    </div>
    <% if bill.errors[:bill_type].any? %>
      <span class="invalid-feedback">
        <strong><%= bill.errors.messages[:bill_type][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success mb-3' %>
  </div>
<% end %>
