
<div class="buttons row">
  <%= link_to t('bill.replenishment'), employee_bill_replenishment_path(@bill), class: 'btn btn-success mb-3 mr-2' %>
</div>
<div class="row">
  <div class="col-md-5 mb-3">
    <%= render(partial: 'partials/bills/bill_info', locals: { bill: @bill }) %>
  </div>
  <div class="col-md-7">
    <div class="card shadow">
      <div class="card-header">
        <strong><%= t('bill.field.card_new_transaction') %></strong>
        <%= link_to t('bill.all_transactions'), employee_bill_transactions_path(@bill),
                    class: 'btn btn-sm btn-outline-secondary float-right' %>
      </div>
        <%= render(partial: 'partials/transactions/list', locals: { transactions: @transactions,
                                                               user: @current_user }) %>
    </div>
  </div>
</div>