
<div class="buttons row">
  <%= link_to t('bill.replenishment'), employee_bill_replenishment_path(@bill), class: 'btn btn-success mb-3' %>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="card shadow sticky-top">
      <div class="card-header">
        <strong><%= t('bill.field.card_info') %></strong>
      </div>
      <div class="card-body">
        <p><strong><%= t('bill.field.card_number') %>:</strong>
          <span class="card-number noselect"><%= card_number_format(@bill.card_number) %></span>
          <i class="fa fa-sm fa-copy copy-icon ml-2 cursor-pointer"></i>
        </p>
        <p><strong><%= t('bill.field.date_expired') %>:</strong>
          <span class=""><%= card_date_expired(@bill.expired_bill_at) %></span>
        </p>
        <p><strong><%= t('bill.field.type') %>:</strong>
          <%= render partial: 'partials/bill_type', locals: { bill_type: @bill.bill_type } %>
        </p>
        <p><strong><%= t('bill.field.amount') %>:</strong>
          <span class=""><%= number_to_currency @bill.amount %></span>
        </p>
        <% if @bill.credit? %>
          <%= render(partial: 'employee/bills/partials/credit_info', locals: { bill: @bill }) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="card shadow">
      <div class="card-header">
        <strong><%= t('bill.field.card_new_transaction') %></strong>
      </div>
      <table class="table table-striped table-bordered mb-0">
        <thead class="text-center">
        <tr>
          <th><%= t('transaction.field.status') %></th>
          <th><%= t('transaction.field.amount') %></th>
          <th><%= t('transaction.field.date') %></th>
        </tr>
        </thead>
        <tbody class="text-center">
          <%= render(partial: 'employee/bills/partials/transactions', collection: @transactions) %>
        </tbody>
      </table>
    </div>
  </div>
</div>