<table class="table table-striped table-bordered mb-0 text-center">
  <thead>
  <tr>
    <th><%= t('bill.field.card_number') %></th>
    <th><%= t('user.field.full_name') %></th>
    <th><%= t('bill.field.message') %></th>
  </tr>
  </thead>
  <tbody>
  <% notifications.each do |notification| %>
    <tr>
      <td>
        <nobr><%= card_number_format notification.bill.card_number %></nobr>
      </td>
      <td><%= notification.bill.user.full_name_aliases %></td>
      <td><%= notification.message %></td>
    </tr>
  <% end %>
  </tbody>
</table>