<%= render('admin/settings/nav') %>

<div class="card">
  <div class="card-header">
    Change "<%= @user.full_name %>" password
  </div>
  <div class="card-body">
    <%= form_with(model: @user, url: admin_settings_user_change_password_path(@user), html: { autocomplete: 'off' },
                  local: true) do |form| %>

      <div class="form-group">
        <%= form.label :password, "New password" %>
        <%= form.password_field :password, class: "form-control #{' is-invalid ' if @user.errors[:password].any? }",
                                required: 'true' %>
        <% if @user.errors[:password].any? %>
          <span class="invalid-feedback">
            <strong><%= @user.errors.messages[:password][0] %></strong>
          </span>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :password_confirmation, "Confirm password" %>
        <%= form.password_field :password_confirmation, class: "form-control #{' is-invalid ' if @user.errors[:password_confirmation].any? }",
                                required: 'true' %>
        <% if @user.errors[:password_confirmation].any? %>
          <span class="invalid-feedback">
            <strong><%= @user.errors.messages[:password_confirmation][0] %></strong>
          </span>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.submit "Update password", class: 'form-control btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>