<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Short code:</strong>
  <%= @country.short_code %>
</p>

<p>
  <strong>Phone code:</strong>
  <%= @country.phone_code %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @country.nickname %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
