<p><%= t('devise.fields.hello') %> <%= @resource.email %>!</p>

<p><%= t('devise.mailer.password_change.send_anonimous') %>.</p>

<p><%= link_to t('devise.mailer.password_change.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.password_change.notif_1') %>.</p>
<p><%= t('devise.mailer.password_change.notif_2') %>.</p>
