<%= render('admin/settings/nav') %>

<%= link_to 'New City', new_admin_settings_city_path, class: 'btn btn-success mb-3' %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.country.name %></td>
        <td><%= link_to 'Show', admin_settings_city_path(city) %></td>
        <td><%= link_to 'Edit', edit_admin_settings_city_path(city) %></td>
        <td><%= link_to 'Destroy', admin_settings_city_path(city), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @cities %>
</div>
