<%= render('admin/settings/nav') %>

<%= link_to t('city.action.create'), new_admin_settings_city_path, class: 'btn btn-success mb-3' %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('city.field.name') %></th>
      <th><%= t('city.field.country') %></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr class="active_table__tr" data-location="<%= admin_settings_city_path(city) %>"
          data-toggle="tooltip" data-placement="bottom" title="<%= t('city.action.show', city: city.name) %>">
        <td><%= city.name %></td>
        <td><%= city.country.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @cities %>
</div>
