<%= form_with(model: user, local: true, url: info_path(user),
              html: { autocomplete: 'off' }) do |form| %>

  <div class="form-group">
    <%= form.label :first_name, t('user.field.first_name') %>
    <%= form.text_field :first_name, class: "form-control #{' is-invalid ' if user.errors[:first_name].any? }",
                        placeholder: 'Enter first name', required: 'true' %>
    <% if user.errors[:first_name].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:first_name][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :last_name, t('user.field.last_name') %>
    <%= form.text_field :last_name, class: "form-control #{' is-invalid ' if user.errors[:last_name].any? }",
                        placeholder: 'Enter last name', required: 'true' %>
    <% if user.errors[:last_name].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:last_name][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :second_name, t('user.field.second_name') %>
    <%= form.text_field :second_name, class: "form-control #{' is-invalid ' if user.errors[:second_name].any? }",
                        placeholder: 'Enter second name' %>
    <% if user.errors[:second_name].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:second_name][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :birthday, t('user.field.birthday') %>
    <%= datepicker(form, :birthday, user) %>
    <% if user.errors[:birthday].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:birthday][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= label :gender, t('user.field.gender') %>
    <div class="row d-flex justify-content-around">
      <div class="form-check form-check-inline">
        <%= form.radio_button :gender, User::GENDER_MALE, class: 'form-check-input' %>
        <%= form.label :gender, t('user.gender.male'), value: User::GENDER_MALE, class: 'form-check-label' %>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :gender, User::GENDER_FEMALE, class: 'form-check-input' %>
        <%= form.label :gender, t('user.gender.female'), value: User::GENDER_FEMALE, class: 'form-check-label' %>
      </div>
    </div>
    <% if user.errors[:gender].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:gender][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :city, t('user.field.city') %>
    <%= form.hidden_field :cities_id %>
    <%= form.text_field :city, class: "form-control #{' is-invalid ' if user.errors[:city].any? }",
        value: user.city.present? ? user.city.name : ''%>
    <% if user.errors[:city].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:city][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="form-group phone-group__div <%= user.city.present? ? '' : 'd-none' %>">
    <%= form.label :phone, t('user.field.phone') %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-phone_number">+<%= user.city.present? ? user.city.country.phone_code : '' %></span>
      </div>
      <%= form.number_field :phone, class: "form-control #{' is-invalid ' if user.errors[:phone].any? }",
                            placeholder: '000000000' %>
    </div>
    <% if user.errors[:phone].any? %>
      <span class="invalid-feedback">
        <strong><%= user.errors.messages[:phone][0] %></strong>
      </span>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit t('action.save'), class: 'btn btn-success' %>
  </div>
<% end %>