<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= t('appName') %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="text-center">
  <div class="fixed-top w-50 m-auto">
    <%= render "partials/flash" %>
  </div>
  <%= yield %>
</body>
</html>
